@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-ThinItalicBETA.ttf') format('truetype');
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-ExtraLightItalicBETA.ttf') format('truetype');
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-LightItalicBETA.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-BoldItalic.ttf') format('truetype');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font:
      400 1rem 'Inter',
      sans-serif;
}

body * {
   box-sizing: inherit;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body *:after,
body *:before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
}

body,
input,
textarea {
   input[type='number']::-webkit-inner-spin-,
   input[type='number']::-webkit-outer-spin- {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type='number'] {
      -moz-appearance: textfield !important;
      appearance: textfield !important;
   }
}

p,
a,
ul,
li,
button {
   font-family: 'Inter', sans-serif;
}

input:-webkit-autofill::first-line {
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-background-clip: text;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 0 transparent inset;
   -webkit-text-fill-color: white;
}

input {
   caret-color: black;
}

::-webkit-scrollbar {
   width: 0px;
   z-index: 1;

   &-thumb {
      cursor: pointer;
      border-radius: 8px;
      background: #c5c5c5;
   }
}
